@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.IntroductionViewModel

@*SECTION 1 ABOUT*@
<section class="about-1 about-content">
    <div class="container">
        <div class="block-title"><h2>@Model.Section1.Title</h2></div>
        <div class="row">
            <div class="col-md-6">
                <div class="description ov-h" data-setHeight="767.98">
                    <div class="demo-ckeditor content-about-1">
                        @Html.Raw(Model.Section1.Content)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image ov-h" data-getHeight><img class="ofcv" src="@Model.Section1.Image" alt="@Model.Section1.Title"></div>
            </div>
        </div>
    </div>
</section>
@*SECTION 2*@
<section class="about-2">
    <div class="container">
        <div class="block-title"><h2>@Html.Raw(Model.Section2.Title)</h2></div>
        <div class="block-item">
            <div class="row list-item">
                @foreach (var item in JsonHelper.Deserialize<List<IntroImage>>(Model.Section2.Image) ?? new List<IntroImage>())
                {
                    <div class="item col-md-4">
                        <figure class="hover-style-2">
                            <div class="img ov-h"><img class="ofcv" src="@item.ImageDefault" alt="@item.AltImage"></div>
                            <figcaption>
                                <h3 class="lcl lcl-1">@item.Name</h3>
                                <p class="lcl lcl-2">@item.Content</p>
                            </figcaption>
                        </figure>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@*SECTION 3*@
<section class="about-3 about-content">
    <div class="container">
        <div class="block-title">
            <h2>@Html.Raw(Model.Section3.Title)</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="description ov-h" data-setHeight="767.98">
                    <div class="demo-ckeditor content-about-1">
                        @Html.Raw(Model.Section3.Content)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image ov-h" data-getHeight><img class="ofcv" src="@Model.Section3.Image" alt="@Model.Section3.Title"></div>
            </div>
        </div>
    </div>
</section>
<div class="about-page" id="js-page-verify" hidden></div>