@model MainProject.SBussiness.LandingPage.Models.News.NewsDetailViewModel


<section class="block-policy">
    <div class="container tab-container">
        <div class="block-title">
            <h2>@Model.Article.Category.Title</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <aside class="aside-filter">
                    <div class="nav-filter mobile">
                        <div class="item" toggle-view="#"></div>
                        <div class="item" toggle-view="category">@Html.GetResource(ResourceKeyCollection.Category_Policy)</div>
                    </div>
                    <div class="block-filter category">
                        <div class="title-filter" icon="category">@Html.GetResource(ResourceKeyCollection.Category_Policy)</div>
                        <div class="block">
                            <ul class="list-item-category">
                                @foreach (var item in Model.Articles)
                                {
                                    <li class="item-category"><a href="@item.GetUrl()" class="item">@item.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9">
                <div class="content-policy">
                    <div class="content">
                        <div class="title-policy">
                            <h3>@Model.Article.Title</h3>
                        </div>
                        <div class="description">
                            @*class demo ckeditor*@
                            <div class="demo-ckeditor content-policy-detail">
                                @Html.Raw(Model.Article.Body)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="policy-page" id="js-page-verify" hidden></div>