@model MainProject.SCommerce.LandingPage.Models.Cart.CartViewModel

<!-- GIỎ HÀNG-->
<div class="block-cart">
    <div class="block-text-icon">
        <img class="icon lazyload blur-up" data-src="/Content/resources/assets/icons/cart-header.svg" alt="cart">
        <h5>@Html.GetResource(TempResourceKeyCollection.Cart)</h5>
        <div class="cart-number" id="header-cart-number">@Model.ShoppingCartItems.Sum(x => x.Quantity)</div>
    </div>
    <div class="cart-panel">
        <div class="cart-title">
            <svg xmlns="http:/www.w3.org/2000/svg" width="18.4" height="18.4" viewBox="0 0 18.4 18.4">
                <defs>
                    <style>
                        .a1 {
                            fill: #1c1c1c;
                        }

                        .b2 {
                            fill: none;
                            stroke: #ffffff;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                </defs>
                <circle class="a1" cx="9.2" cy="9.2" r="9.2"></circle>
                <g transform="translate(5.962 7.258)">
                    <path class="b2" d="M2.246,0,0,2.487,3.9,6.477" transform="translate(0 3.896) rotate(-90)"></path>
                </g>
            </svg>
            <span>@Html.GetResource(TempResourceKeyCollection.Cart_Add_Success)</span>
        </div>
        <div class="cart-list">
            @foreach (var item in Model.ShoppingCartItems)
            {
                <div class="cart-item">
                    <div class="info">
                        <h4 class="name"><a href="@item.Product.GetUrl()">@item.Product.Name</a></h4>
                        <p class="brand">@Html.GetResource(TempResourceKeyCollection.Brand): <b>@item.Product.Brand.Name</b></p>
                        <p class="quantity">@Html.GetResource(TempResourceKeyCollection.Cart_Amount): <b>@item.Quantity</b></p>
                        <p class="price"><b>@item.ProductPrice đ</b></p>
                    </div>
                </div>
            }
        </div>
        <div class="cart-button"><a class="btn btn-view-more" href="/cart/index">@Html.GetResource(TempResourceKeyCollection.Cart_View)</a></div>
    </div>
</div>