@model MainProject.SCommerce.LandingPage.Models.Cart.CartViewModel

<section class="cart-list-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="cart-table-title">
                    <div class="info-title">
                        <p id="quantity-product">@Html.GetResource(TempResourceKeyCollection.Cart) (@Model.ShoppingCartItems.Sum(x => x.Quantity) sản phẩm)</p>
                    </div>
                    <div class="quantity-title">
                        <p>@Html.GetResource(TempResourceKeyCollection.Cart_Amount)</p>
                    </div>
                    <div class="price-title">
                        <p>@Html.GetResource(TempResourceKeyCollection.Price)</p>
                    </div>
                </div>
                <div class="cart-table">
                    @foreach (var item in Model.ShoppingCartItems)
                    {
                        <div class="cart-item">
                            <div class="item-info">
                                <div class="imgbox"><img src="@item.Product.ImageDefault" alt="@item.Product.Name"></div>
                                <a class="name" href="@item.Product.GetUrl()">
                                    <h3>@item.Product.Name</h3>
                                </a>
                                <input class="remove-cart" type="button" value="@Html.GetResource(TempResourceKeyCollection.Delete)" data-pid="@item.Product.Id" data-propertyid="0" data-url="/xoa-khoi-gio-hang">
                            </div>
                            <div class="item-quantity">
                                <div class="mobile item-label">@Html.GetResource(TempResourceKeyCollection.Cart_Amount)</div>
                                <div class="quantity-input">
                                    <div class="downQuantity" data-pid="@item.Product.Id" data-propertyid="0" data-url-update="/cap-nhat-gio-hang">-</div>
                                    <input class="quantity-cart" name="quantity" type="text" value="@item.Quantity" data-pid="@item.Product.Id" data-propertyid="0">
                                    <div class="upQuantity" data-pid="@item.Product.Id" data-propertyid="0" data-url-update="/cap-nhat-gio-hang">+</div>
                                </div>
                            </div>
                            <div class="item-price">
                                <div class="mobile item-label">@Html.GetResource(TempResourceKeyCollection.Price)</div>
                                <div class="item-price-wrapper">
                                    <p class="price"><b>@Html.FormatCurrency(item.Product.Price)đ</b></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="cart-back"><a href="danh-sach-san-pham.html">@Html.GetResource(TempResourceKeyCollection.Keep_Shopping)</a></div>
            </div>
            <div class="col-xl-4">
                <div class="cart-summary">
                    <div class="cart-summary-block">
                        <p>
                            <span>@Html.GetResource(TempResourceKeyCollection.Actual_Amount_Total):</span>
                            <strong class="price" id="actual_amount_total">@Html.FormatCurrency(Model.TotalAmount)đ</strong>
                        </p>
                        <p class="vat">(Đã bao gồm VAT)</p>
                    </div>
                </div>
                <div class="cart-checkout">
                    <div class="btn btn-submit w-100" data-fancybox="popup-checkout" data-src="#popup-checkout">@Html.GetResource(TempResourceKeyCollection.Order)</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-n">
    <div class="popup-checkout" id="popup-checkout">
        <h2>@Html.GetResource(TempResourceKeyCollection.Contact_Us)</h2>
        @Html.Partial("_Order", new MainProject.SCommerce.LandingPage.Models.Payment.OrderInfoViewModel())
    </div>
</div>
<div class="d-n">
    <div class="popup-checkout-complete" id="popup-checkout-complete">
        <img src="./assets/icons/cam-on.svg" alt="">
        <h1>@Html.GetResource(TempResourceKeyCollection.Cart_Order_Success)</h1>
        <p>@Html.GetResource(TempResourceKeyCollection.Thank_You)</p>
        <p>Quản trị viên sẽ liên hệ để lại để xác nhận.</p><br><br>
        <p>Bạn có thể xem lại đơn hàng tại <a href="#">@Html.GetResource(TempResourceKeyCollection.Here)</a></p>
    </div>
</div>
<div class="policy-page" id="js-page-verify" hidden></div>