@model MainProject.SCommerce.LandingPage.Models.Product.ProductDetailViewModel

<section class="product-detail-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="slider-product-detail">
                    <!-- - ## SLIDER HÌNH LỚNN -## //-->
                    <div class="review-image ov-h" data-getHeight>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ta-c">
                            <div class="gift">@Html.GetResource(TempResourceKeyCollection.Gift_Incentives)</div>
                        </div>
                    </div>
                    <!-- - ## CHIỀU CAO CỦA SLIDER THUBNAIL ĐƯỢC SET BẰNG JS -## //-->
                    <div class="thumbnail-image ov-h">
                        <div class="swiper-container h-100">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                                <div class="swiper-slide ov-h">
                                    <div class="img ov-h"><img class="ofcv" src="/Content/resources/assets/images/products/product-detail/1.png" alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="general-information" data-setHeight="767.98">
                    <h1>@Model.Name</h1>
                    <div class="product-code">@Html.GetResource(TempResourceKeyCollection.Product_Code):<span>@Model.Code</span></div>
                    <div class="product-brand">@Html.GetResource(TempResourceKeyCollection.Brand):<span>@Model.Brand.Name</span></div>
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-detail-2">
    <div class="container tab-container">
        <!-- MENU TAB ĐÚNG ID TOGGLE FOR SẼ HIỆN NỘI DUNG TAB-->
        <ul class="list-tab-product-detail list-tab">
            <li class="item-tab-product-detail">
                <div class="item" toggle-for="tab-info-product">@Html.GetResource(TempResourceKeyCollection.Product_Information)</div>
            </li>
            <li class="item-tab-product-detail">
                <div class="item" toggle-for="tab-specifications-product">@Html.GetResource(TempResourceKeyCollection.Product_Specifications)</div>
            </li>
        </ul>
        <!-- NỘI DUNG TAB TABID === TOGGLE-FOR-->
        <div class="tab-content content-product-detail">
            <div class="content" tab-id="tab-info-product">
                <div class="description">
                    <div class="demo-ckeditor content-tab-info-product">
                        <h3>@Model.Name</h3>
                        <div class="d-f">
                            <div class="code">@Html.GetResource(TempResourceKeyCollection.Product_Code):<span>@Model.Code</span></div>
                            <div class="brand">@Html.GetResource(TempResourceKeyCollection.Brand):<span>@Model.Brand.Name</span></div>
                        </div>
                        @Html.Raw(Model.Body)
                    </div>
                </div>
            </div>
            <div class="content" tab-id="tab-specifications-product">
                <div class="demo-ckeditor content-tab-specifications-product">
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
    </div>
</section>
@*SẢN PHẨM LIÊN QUAN*@
<section class="products-other">
    <div class="container">
        <div class="block-title">
            <h2>@Html.GetResource(TempResourceKeyCollection.Product_Others)</h2>
        </div>
        <div class="slider-products-other">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Products)
                    {
                        <div class="swiper-slide">
                            <div class="item-product">
                                <!-- LINK VÀO SẢN PHẨM CHI TIẾT--><a href="@item.Url">
                                    <figure>
                                        <div class="img ov-h"><img class="lazyload blur-up" data-src="@item.Image" alt="@item.Name"></div>
                                        <figcaption>
                                            <div class="name">@item.Name</div>
                                            <div class="code">@item.Code</div>
                                            <div class="price">@item.Price ₫</div>
                                            <div class="btn btn-gift">@Html.GetResource(TempResourceKeyCollection.Gift)</div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<div class="product-detail-page" id="js-page-verify" hidden></div>
