@model MainProject.SCommerce.LandingPage.Models.Product.ProductViewModel

<section class="block-list-product">
    <div class="container">
        @*THANH PHÂN TRANG NẾU KẾT QUẢ LAYOUT TRẢ TRUE THÌ XUẤT HIỆN*@
        @Html.Partial("_Pagination", Model.PagingModel)
        <div class="row">
            <div class="col-lg-3">
                <aside class="aside-filter">
                    <div class="nav-filter mobile">
                        <div class="item" toggle-view="filter">@Html.GetResource(ResourceKeyCollection.Filter)</div>
                        <div class="item" toggle-view="category">@Html.GetResource(ResourceKeyCollection.Brand)</div>
                    </div>
                    @*BỘ LỌC*@
                    <div class="block-filter" toggle-id="filter">
                        <div class="title-filter" icon="filter">@Html.GetResource(ResourceKeyCollection.Filter)</div>
                        <div class="block">
                            <!-- GIÁ-->
                            <div class="type-filter">@Html.GetResource(ResourceKeyCollection.Price)</div>
                            <div class="price">
                                <div id="value-text" data-min-html data-max-html></div>
                                <input type="text" id="amount" readonly hidden>
                                <div id="slider-range" data-min="@Model.DefaultFromPrice" data-max="@Model.DefaultToPrice" data-current-min="@Model.FromPrice" data-current-max="@Model.ToPrice"></div>
                                <div class="about-price"><span>@Html.FormatCurrency(Model.FromPrice)</span><span>@Html.FormatCurrency(Model.ToPrice)</span></div>
                            </div>
                            <!-- THƯƠNG HIỆU-->
                            <div class="type-filter">@Html.GetResource(ResourceKeyCollection.Brand)</div>
                            <div class="brand">
                                <div class="search">
                                    <input type="text" placeholder="@Html.GetResource(ResourceKeyCollection.Enter_Brand)">
                                    <div class="submit">
                                        <img class="lazyload blur-up" src="/Content/resources/assets/icons/search.svg" alt="search">
                                    </div>
                                </div>
                                <div class="check-box">
                                    <div class="form-group">
                                        <input id="all" hidden name="brand" type="radio" checked>
                                        <label for="all">@Html.GetResource(ResourceKeyCollection.All_Brand)</label>
                                    </div>
                                    @*DANH SÁCH CÁC THƯƠNG HIỆU*@
                                    @foreach (var item in Model.Brands)
                                    {
                                        <div class="form-group">
                                            <input id="addidas" hidden name="brand" type="radio" value="@item.Name">
                                            <label for="addidas">@item.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-filter mt-20px" toggle-id="category">
                        <div class="title-filter" icon="category">@Html.GetResource(ResourceKeyCollection.Category_Product)</div>
                        <div class="block">
                            @Html.Raw(Model.CommerceMenu)
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9">
                <div class="list-product">
                    <div class="list-item">
                        @foreach (var item in Model.Products)
                        {
                            <div class="item">
                                <div class="item-product">
                                    <!-- LINK VÀO SẢN PHẨM CHI TIẾT-->
                                    <a href="@item.Url">
                                        <figure>
                                            <div class="img ov-h">
                                                <img class="lazyload blur-up" data-src="@item.Image" alt="@item.Name">
                                            </div>
                                            <figcaption>
                                                <div class="name">@item.Name</div>
                                                <div class="code">@item.Code</div>
                                                <div class="price">@Html.FormatCurrency(item.Price) @Html.GetResource(ResourceKeyCollection.Currency)</div>
                                                <div class="btn btn-gift">@Html.GetResource(ResourceKeyCollection.Gift)</div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*THANH PHÂN TRANG NẾU KẾT QUẢ LAYOUT TRẢ TRUE THÌ XUẤT HIỆN*@
        @Html.Partial("_Pagination", Model.PagingModel)
    </div>
</section>
<div class="list-product-page" id="js-page-verify" hidden></div>