<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.MetaTitle ?? ViewBag.Title)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="shortcut icon" href="@ViewBag.Favicon">
    <!-- SEO -->
    <meta name="title" content="@Html.Raw(ViewBag.MetaTitle)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)">
    <link rel="canonical" href="@ViewBag.Canonical">

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="">
    <meta property="og:type" content="@ViewBag.Type">
    <meta property="og:title" content="@Html.Raw(ViewBag.MetaTitle)">
    <meta property="og:description" content="@Html.Raw(ViewBag.MetaDescription)">
    <meta property="og:url" content="">
    <meta property="og:image" content="@Html.Raw(ViewBag.MetaImage)">
    @*@Styles.Render("~/bundles/css")*@

    @*FONT*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;display=swap&amp;subset=vietnamese">
    @*CSS*@
    <link rel="stylesheet" href="/content/resources/css/core.min.css">
    <link rel="stylesheet" href="/content/resources/css/main.min.css">
    @RenderSection("styles", required: false)
</head>
<body>
   @Html.Action("ShowHeader", "Home")
    @*BREADCRUMP*@
    @Html.Partial("_Breadcrumb")
    @*MAIN*@
    <main>
        @RenderBody()
    </main>
    @*FOOTER*@
    @Html.Action("ShowFooter", "Home")

    @RenderSection("scripts", required: false)

    @*GOOGLE MAP API*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&amp;libraries=places&amp;key=AIzaSyAq6ag0zUMblc-Wk5Z5S8KWkHpT3ak1LzI"></script>
    @*JS*@
    <script type="text/javascript" src="/Content/resources/js/core.min.js"></script>
    <script type="text/javascript" src="/Content/resources/js/main.min.js"></script>
</body>
</html>
