@model MainProject.SBussiness.LandingPage.Models.Home.FooterViewModel

@*FOOTER*@
<footer>
    <div class="container">
        <div class="row ai-fe">
            <div class="col-lg-5 col-md-6">
                <div class="title-footer">@Html.GetResource(TempResourceKeyCollection.Contact)</div>
                <ul class="list-info">
                    @*DANH SÁCH THÔNG TIN CỦA CÔNG TY*@
                    @foreach (var item in Model.Branch)
                    {
                        <li class="item-info">
                            <div class="icon"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/phone-footer.svg" alt="ICON ĐIỆN THOẠI"></div>
                            <div class="text"><a href="tel:@item.Phone">@item.Phone</a></div>
                        </li>
                        <li class="item-info">
                            <div class="icon"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/mail-footer.svg" alt="ICON EMAIL"></div>
                            <div class="text"><a href="tel:@item.Email">@item.Email</a></div>
                        </li>
                        <li class="item-info">
                            <div class="icon"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/address-footer.svg" alt="ICON ĐỊA CHỈ"></div>
                            <div class="text"><a href="tel:@item.Address">@item.Address</a></div>
                        </li>
                        <li class="item-info">
                            <div class="icon"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/facebook-footer.svg" alt="ICON ĐIỆN THOẠI"></div>
                            <div class="text"><a target="_blank" href="@item.Description">@item.Description</a></div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="title-footer">@Html.GetResource(TempResourceKeyCollection.Product)</div>
                <ul class="list-link-product">
                    @Html.Raw(Model.Menu)
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 ta-r">
                <div class="fb-page" data-href="https://www.facebook.com/kimcucsports/" data-tabs="" data-width="" data-height="120" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
                    <blockquote class="fb-xfbml-parse-ignore" cite="https://www.facebook.com/kimcucsports/"><a href="https://www.facebook.com/kimcucsports/">Kim Cu&#x301;c Sports</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right">
    <div class="container">
        <ul class="list-link">
            @Html.GetResource(TempResourceKeyCollection.Copy_Right)
        </ul>
    </div>
</div>