@model MainProject.SBussiness.LandingPage.Models.Home.HeaderViewModel

<div id="fb-root"></div>
<div id="loading">
    <div class="logo-loader"><img src="/Content/resources/assets/logo.svg"></div>
    <div class="progstat-wrapper">Loading:<span id="progstat">0</span>%</div>
    <div id="progress"></div>
</div>
<header>
    <!-- LOGO-->
    <div class="block-logo">
        <div class="triangle"></div><a href="/">
            <div class="logo"><img class="lazyload blur-up" data-src="/Content/resources/assets/logo.svg" alt="logo"></div>
        </a>
        <div class="toggle-menu mobile"></div>
        <div class="sologan">
            <p>@Html.GetResource(ResourceKeyCollection.Sologan)</p>
        </div>
    </div>
    <!-- TOP HEADER-->
    <div class="top-header">
        <div class="container h-100">
            <div class="row no-gutters ai-c jc-fe h-100">
                <!-- DANH SÁCH MẠNG XÃ HỘI-->
                <div class="social-media">
                    <ul>
                        <li><a href="#"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/facebook-header.svg" alt="facebook"></a></li>
                        <li><a href="#"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/instagram-header.svg" alt="instagram"></a></li>
                    </ul>
                </div>
                <!-- FORM TÌM KIẾM-->
                <div class="search">
                    <form action="/search">
                        <div class="form-group">
                            <input class="form-control" name="text" type="text" placeholder="...">
                        </div>
                        <div class="submit">
                            <button><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/search-header.svg" alt="search"></button>
                        </div>
                    </form>
                </div>
                @Html.Action("ShowCart", "Cart")
            </div>
        </div>
    </div>
    @*BOTTOM HEADER*@
    <div class="bottom-header">
        <div class="container">
            <div class="main-nav">
                <ul class="nav-list">
                    @Html.Raw(Model.Menu)
                    <li class="nav-item">
                        <div class="language">
                            <div class="item active"><a href="#"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/vn.svg" alt=""></a></div>
                            <div class="item"><a href="#"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/en.svg" alt=""></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="main-banner">
    <div class="slider-main-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Banners)
                {
                    <div class="swiper-slide">
                        <a class="swiper-inner" href="#" style="background-image: url(@item.ResourcePath">
                            <figure class="ov-h"><img class="ofcv" src="@item.ResourcePath" alt="@item.Alt"></figure>
                        </a>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>