@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.Home.HomeViewModel

<!-- BLOCK 1 TRANG CHỦ-->
<div class="index-1">
    <!-- DANH SÁCH NHÀ PHÂN PHỐI-->
    <section class="distributor">
        <div class="container">
            <h2>@Html.GetResource(ResourceKeyCollection.Home_Distributer)</h2>
            <div class="slider-distributor">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Brands)
                        {
                            <div class="swiper-slide">
                                <div class="img ov-h"><a href="#"><img class="ofcv" src="@item.ImageDefault" alt="@item.Name"></a></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
</div>
<!-- BLOCK 2 TRANG CHỦ-->
<div class="index-2">
    <div class="container">
        <div class="block-title">
            <h2>@Html.GetResource(ResourceKeyCollection.Product_Hot)</h2>
        </div>
        <!-- DANH SÁCH SẢN PHẨM BÁN CHẠY-->
        <div class="row list-item">
            @foreach (var item in Model.HotProducts)
            {
                <div class="item-product">
                    <!-- LINK VÀO SẢN PHẨM CHI TIẾT-->
                    <a href="@item.GetUrl()">
                        <figure>
                            <div class="img ov-h">
                                <img class="lazyload blur-up" data-src="@item.ImageDefault" alt="@item.Name">
                            </div>
                            <figcaption>
                                <div class="name">@item.Name</div>
                                <div class="code">@item.ProductCode</div>
                                <div class="price">@Html.FormatCurrency(item.Price) @Html.GetResource(ResourceKeyCollection.Currency)</div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<!-- BLOCK 3 TRANG CHỦ-->
<div class="index-3">
    <div class="container">
        <div class="block-title">
            <h2>@Html.GetResource(ResourceKeyCollection.Product_Best_Seller)</h2>
        </div>
        <!-- DANH SÁCH SẢN PHẨM THỂ THAO-->
        <div class="row list-item">
            @foreach (var item in Model.SportProducts)
            {
                <div class="item-product">
                    <!-- LINK VÀO SẢN PHẨM CHI TIẾT-->
                    <a href="@item.GetUrl()">
                        <figure>
                            <div class="img ov-h"><img class="lazyload blur-up" data-src="@item.ImageDefault" alt="@item.Name"></div>
                            <figcaption>
                                <div class="name">@item.Name</div>
                                <div class="code">@item.ProductCode</div>
                                <div class="price">@Html.FormatCurrency(item.Price) @Html.GetResource(ResourceKeyCollection.Currency)</div>
                                <div class="btn btn-gift">@Html.GetResource(ResourceKeyCollection.Gift)</div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<!-- BLOCK 4 TRANG CHỦ-->
<div class="index-4">
    <figure class="ov-h">
        <img class="ofcv lazyload blur-up" data-src="/Content/resources/assets/images/banner/index-4.png" alt="BANNER QUẢNG CÁO KIM CÚC SPORTS">
    </figure>
</div>
<!-- BLOCK 5 TRANG CHỦ-->
<div class="index-5">
    <div class="container">
        <div class="block-title">
            <h2>@Model.Customer.Title</h2>
        </div>
        <!-- SLIDER KHÁCH HÀNG CỦA KIM CÚC SPORTS-->
        <div class="slider-customer">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in JsonHelper.Deserialize<List<Image>>(Model.Customer.Image) ?? new List<Image>())
                    {
                        <div class="swiper-slide">
                            <figure>
                                <div class="img ov-h">
                                    <img class="ofcv" src="@item.Path" alt="@item.Alt">
                                </div>
                                <figcaption>
                                    <p class="lcl lcl-1">@item.Name</p>
                                </figcaption>
                            </figure>
                        </div>
                    }

                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>
<!-- BLOCK 6 TRANG CHỦ-->
<div class="index-6">
    <div class="container">
        <div class="row">
            <!-- TIN TỨC NỔI BẬT - TRANG CHỦ-->
            <div class="col-lg-7">
                <div class="block-title">
                    <h2>@Html.GetResource(ResourceKeyCollection.News_Hot)</h2>
                </div>
                @if (Model.HotNews.Count > 0)
                {
                    <div class="hot-news">
                        <figure class="hover-style-1">
                            <a href="@Model.HotNews[0].GetUrl()">
                                <div class="img ov-h"><img class="ofcv lazyload blur-up" data-src="@Model.HotNews[0].ImageDefault" alt="TIN TỨC NỔI BẬT KIM CÚC SPORTS"></div>
                                <figcaption>
                                    <h3 class="lcl lcl-2">@Model.HotNews[0].Title</h3>
                                    <time>@Model.HotNews[0].CreateDate.ToString("dd/MM/yyyy")</time>
                                    <p class="lcl lcl-4">@Model.HotNews[0].Description</p>
                                    <a href="tin-tuc-chi-tiet.html" class="btn btn-view-more">@Html.GetResource(ResourceKeyCollection.Read_More)</a>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                }
            </div>
            <!-- TIN TỨC - SỰ KIỆN - TRANG CHỦ-->
            <div class="col-lg-5">
                <div class="block-home-news">
                    <div class="block-title">
                        <h2>@Html.GetResource(ResourceKeyCollection.News)</h2>
                    </div>
                    <!-- DANH SÁCH TIN TỨC - SỰ KIỆN - TRANG CHỦ-->
                    <div class="list-home-news clearfix">
                        @foreach (var item in Model.HotNews.Skip(1))
                        {
                            <div class="item-home-news">
                                <a href="@item.GetUrl()">
                                    <figure class="hover-style-1">
                                        <div class="img ov-h"><img class="ofcv lazyload blur-up" data-src="@item.ImageDefault" alt="TIN TỨC SỰ KIỆN KIM CÚC SPORTS"></div>
                                        <figcaption>
                                            <h3 class="lcl lcl-2">@item.Title</h3>
                                            <time>@item.CreateDate.ToString("dd/MM/yyyy")</time>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index-page" id="js-page-verify" hidden></div>